html, body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #161623;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(#00ff15, #0077ff);
    clip-path: circle(26% at right 50%);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(#00ff6a, #0014ff);
    clip-path: circle(18% at 10% 5%);
}
.third-circle{
    margin-top: 90vh;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(#00ff95, #003cff);
    clip-path: circle(40% at 20% 40%);
}
.navbar{
    top: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
#insta-button{
    top: 1vh;
    left: 4vw;
    position: absolute;
    width: 14vw;
    height: 6vh;
}
#github-button{
    top: 0.8vh;
    left: 25vw;
    position: absolute;
    width: 14vw;
    height: 6vh;
}
#close-button{
    top: 3vh;
    right: 10vw;
    position: absolute;
    width: 14vw;
    height: 6vh;
    cursor: pointer;
}
svg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
  }
.button{
    background: rgb(0,0,0);
    background: linear-gradient(347deg, rgba(0,0,0,1) 34%, rgba(60,60,60,1) 100%);
    border: none;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.493);
    color: white;
    padding: 4vw;
    font-weight: bold;
    border-radius: 8px;
    outline: none;
}
#contact-btn{
    margin-top: 1vh;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
#contact-img{
    height: 4.5vh;
    width: 10vw;
    float: left;
    margin-right: 3vw;

}

.dropdown {
    float: right;
    overflow: hidden;
    margin-top: 2.5vh;
    margin-right: 3vw;
  }
  .dropdown-content {
      margin-top: 4vh;
      left: 5vw;
    position: absolute;
    background-color: transparent;
    min-width: 300px;
    overflow: hidden;
    z-index: 1;

  }
  
  .dropdown-content h2 {
      font-size: 5vw;
    float: left;
    color: white;
    text-decoration: none;
    display: block;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.801);
  }
  .dropdown-email{
      transform: translateX(170%);
      transition: all 0.8s ease;
      margin-top: 0;
      text-decoration: none;
  }
  .dropdown-tel{
    transform: translateX(-260%);
      transition: all 0.8s ease;
      margin-top: 3vh;
      text-decoration: none;
      color: white;
  }
  .show {
      transform: translateX(0);
    
    }
    .rotate{
        transform: rotate(90deg);
        transition: all 0.5s ease;
    }
#logo{
    float: left;
    margin-left: 20vw;
    margin-top: 2vh;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
}
#logo p{
    font-size: 2em;
    margin: 0;
    margin-left: 46vw;
    margin-top: 24vh;
    position: absolute;
}
#logo h2{
    font-size: 5em;
    margin: 0;
    position: absolute;
    margin-top: 25vh;
}
.smart-txt{
    margin-top: 40vh;
    height: 50vh;
    width: 100%;
    position: absolute;

}
.passion-txt{
    color: white;
    margin-left: 3.5vw;
    font-size: 2.2em;
    text-shadow: 0.05em 0.05em black;
    font-weight: bold;
    line-height: 6.5vh;
    border-left: solid white 2px;
    padding-left: 4vw;
}
.passion-txt span{
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.smart-txt .passion-txt span.fade{
    opacity: 1;
}

#work-btn{
    margin-top: 0;
    margin-left: 50vw;
    width: 40vw;
    cursor: pointer;
}
#work-btn:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.work{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
            transform: translateX(120%);
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.work-page{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 101;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(7px);    
    backdrop-filter: blur(7px);
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    box-shadow: 20px 20px 50px rgb(0, 0, 0);
 
}
.work-icon{
    height: 5.4vh;
    width: 10vw;
}
.slide-in{
    overflow: visible;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    position: fixed;
}
#websites-header{
    font-size: 3em;
    color: white;
    margin-top: 15vh;
}

.work-attachments{
    position: absolute;
    top: 40vh;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100vh;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.attachment{
    text-decoration: none;
    -webkit-box-flex: 0;
    margin: 0vh 1vh;
    position: relative;
    padding: 1.2em 0.8em;
    padding-left: 0;
    padding-right: 0;
    height: 10vh;
    width: 27vw;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0 rgb(31, 31, 31);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: rgb(39, 39, 39);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 0.8s;
    -webkit-transition-delay: calc(0.2s * var(--i));
         -o-transition-delay: calc(0.8s * var(--i));
            transition-delay: calc(0.8s * var(--i));
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slide-in .attachment{
    opacity: 1;
    -webkit-transform: translateX(0%);    
    -ms-transform: translateX(0%);    
    transform: translateX(0%);
}
.attachment a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.6em;
    font-weight: bold;
}
#work-soon{
    background-color: rgb(48, 48, 48);
}
#features-header{
    color: white;
    text-shadow: 0.05em 0.05em black;
    position: absolute;
    top: 110vh;
    font-size: 2.5em;
    right: 3vw;
    left: 1vw;
    border-right: solid 2px white;
    padding-right: 2vw;


}
.container{ 
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    margin-bottom: 5vh;
    margin: 5vw;
    width: 38vw;
    height: 24vh;
    text-align: center;
    padding: 2vw;
    border-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(7px);    
    backdrop-filter: blur(7px);
    z-index: 2;
    color: white;
    text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.493);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
   
}
.container i{
    opacity: 0;
    top: 10vh;
    position: absolute;
    z-index: 2;
    font-size: 0.7em;
    text-align: center;
}
.container:hover i,
.container:hover::after,
.container:hover img,
.container:hover h2{
    transform: scale(1.1);
    opacity: 1;
}
.container::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #131313d2;
    z-index: 1;
    position: absolute;
    opacity: 0;
}
.container h2{
    font-size: 1em;
    text-shadow: 0.1em 0.1em black;
    text-align: left;
    font-weight: bold;
    text-align: center;
}
.container-icon{
    margin-top: 4vh;
    height: 12vh;
    width: 28vw;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skills{
    overflow-x: scroll hidden;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: transparent;
    margin-top: 122vh;
    display: grid;
    grid-template-columns: 50vw 50vw 50vw 50vw;
    grid-template-rows: 30vh;
    gap: 0px 0px;
    grid-template-areas:
      "dynamic mobile database responsive";
}
.skills::-webkit-scrollbar {
    display: none;
}
#responsive { grid-area: responsive; }
#mobile { grid-area: mobile; }
.dynamic { grid-area: dynamic; }
#database { grid-area: database; }

.third-section{
    width: 100%;
    height: 60vh;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    margin-top: 10vh;
    padding-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #131313;
    padding-bottom: 15vh;
}
.border{
    width: 100%;
    height: 61vh;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    margin-top: 8vh;
    padding-top: 20vh;
    padding-bottom: 15vh;
    background: linear-gradient(#2183f373, #e91e63);
    position: absolute;
    -webkit-backdrop-filter: blur(10px);    
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 40px 40px #32dbc4;
}
input{
    margin: 3vh;
    background-color: #1d1d1dbe;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 8px;
    padding-left: 2vw;
    color: white;
    outline: none;
}
textarea{
    margin: 3vh;
    background-color: #1d1d1dbe;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 8px;
    padding-left: 2vw;
    color: white;
    outline: none;
}
#message{
    width: 60vw;
    height: 20vh;
}
#submit-btn{
    width: 35vw;
}
@media(min-width:1200px){
    #insta-button{
        left: 2vw;
        width: 8vw;
        height: 12vh;
    }
    #github-button{
        left: 14vw;
        width: 8vw;
        height: 12vh;
    }
    .button{
        box-shadow: 0.4em 0.4em rgba(0, 0, 0, 0.493);
        padding: 2vw;
        border-radius: 12px;
    }
    #contact-img{
        margin-top: 4.3vh;
        width: 6vw;
        height: 10vh;
    }
    .dropdown-content{
        top: 0;
        left: 25vw;
        width: 62vw;
    }
    .dropdown-content h2{
        font-size: 2em;
    }

    .dropdown-email{
        transform: translateX(70vw);
    }
    .dropdown-tel{
      transform: translateX(-50vw);
      margin-top: 5vh;
    }
    .show {
        transform: translateX(10vw);
      
      }
      #logo p{
        font-size: 6em;
        margin: 0;
        margin-left: 16vw;
        margin-top: 26vh;
        position: absolute;
    }
    #logo h2{
        font-size: 14em;
        margin: 0;
        position: absolute;
        margin-top: 30vh;
        margin-left: 5vw;
    }
    .passion-txt{
        font-size: 3em;
        line-height: 8vh;
        padding: 2vw;
    }
    .third-circle{
        margin-top: 120vh;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(#00ff95, #003cff);
        clip-path: circle(40% at 10% 60%);
    }
    #work-btn{
        top: 9vw;
        margin-left: 50vw;
        width: 20vw;
        cursor: pointer;
        position: absolute;
        font-size: 1.5em;
    }
    #features-header{
        font-size: 3em;
        border-right: solid white 2px;
        padding: 2vw;
        margin-left: 60vw;
        margin-top: 10vh;
        text-align: right;
    }
    #websites-header{
        font-size: 4em;
        top: 8vh;
        margin-top: 10vh;
    }
    .attachment{
        width: 19vw;
        height: 32vh;
    }
    .work-page{
        display: flex;
        justify-content: center;
    }
    .work-attachments{
        max-width: 80vw;
        top: 25vh;
    }
    .attachment p{
        font-size: 2em;
    }
    .work-icon{
        height: 15vh;
        width: 8.6vw;
        margin-top: 6vh;
    }
    .skills{
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: 40vh 40vh;
        margin-top: 140vh;
    }
    .container{
        width: 15vw;
        height: 35vh;
        border-radius: 12px;
        background-color: #131313;
        font-size: 2em;
        margin: 2vw;
    }
    .container i{
        margin-top: 6vh;
    }
    .container-icon{
        width: 12vw;
        height: 20vh;
    }
    .third-section{
        clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
        padding-top: 10vh;
        text-align: left;
        justify-content: left;
    }
    .border{
        height: 43vh;
        clip-path: polygon(0 0, 100% 32.5%, 100% 100%, 0 100%);
    }
    .third-section h1{
        position: absolute;
        left: 3vw;
        font-size: 3em;
        border-left: solid white 2px;
        padding-left: 2vw;
    }
    input{
        position: absolute;
        left: 16vw;
        margin-top: 25vh;
        width: 22vw;
        margin-right: 30vw;
    }
    textarea{
        position: absolute;
        left: 16vw;
        margin-top: 24vh;
        height: 40vh;
        width: 80vw;
    }
    #submit-btn{
        position: absolute;
        margin-top: 48vh;
        left: 40vw;
        width: 15vw;
    }

}